:root {
  --header-font: clamp(2rem, 2vw + 0.5rem, 5rem);
  --subheader-font: clamp(1rem, 1vw + 0.45rem, 2rem);
}

.open-sans-main-header {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.open-sans-main-subheader {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.open-sans-header {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
  font-variation-settings: "wdth" 100;
}
.open-sans-subheader {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: italic;
  font-variation-settings: "wdth" 100;
}
.open-sans-body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.open-sans-skills {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
  font-variation-settings: "wdth" 100;
}
.open-sans-link {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

html,
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
#main-content {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  gap: 2vh;
  margin: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}
nav {
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: row-reverse;
  top: 999;
  height: 53px;
  border-bottom: 1px solid lightgray;
}

nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3a4145;
  width: 100px;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}
nav a:hover {
  background-color: #f2f4f3;
}
nav a:visited {
  color: inherit;
}
.main-card {
  background-color: #f2f4f3;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  border-bottom: 1px solid gray;
  padding-top: clamp(1rem, 1vh, 38px);
  overflow: hidden;
}
.main-card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  word-wrap: break-word;
}
.main-card-header {
  line-height: 0.7em;
  font-size: 42px;
  margin-top: 0.5em;
  word-wrap: break-word;
  color: #3a4145;
}
.main-card-subheader {
  line-height: 0.7em;
  font-size: var(--subheader-font);
  color: #a59fa0;
  margin-bottom: 3%;
  margin-top: 0;
  text-align: center;
}

.resume-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 1px solid #dadcdb;
  background-color: #e6e8e7;
  width: 200px;
  height: 30px;
  text-decoration: none;
}
.resume-link:visited {
  color: inherit;
}
.resume-link:hover {
  background-color: #dadcdb;
}
.intro-card-image
 {
  margin-left: 5rem;
  position: relative;
  clip-path: circle();
  width: auto;
  height: auto;

  max-width: 225px;
  max-height: 224px;

}
.project-image
{
  width: auto;
  height: auto;

  max-width: 225px;
  max-height: 224px;
}

.about-me-card,
.work-experience-card,
.projects-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 3.5vh;
  width: 100%;
  max-width: 750px;
  border-bottom: 1px solid gray;
  padding-bottom: 15px;
}
.card-title {
  font-size: 36px;
  font-style: italic;
  line-height: 0.7em;
  margin: 10px;
}
ul > .card-text,.card-text
 {
  font-size: 18px;
  line-height: 1.75;
  word-wrap: break-word;
  margin-bottom: 3%;
}

.project-desc
{
  text-align: center;
  width: 100%;
  max-height: min-content;
}

ul > .card-text {
  font-size: 16px;
  margin-left: 0px;
  margin-right: 5px;
  overflow: initial;
}

.card-text {
  margin-left: 50px;
  margin-right: 50px;
  overflow: auto;
}

.job-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  width: 100%;
}
.project-container
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  text-align: center;
}
.project-container:nth-child(odd)
{
  flex-direction: row-reverse;
}
.project-header
{
  flex: 1 100%;
  line-height: 0.7em;
  width:100%

}

.project-subheader
{
  flex: 1 100%;
}
.text-container
{
  display: flex;
  justify-content: center;
  max-width: 65%;
  align-items: center;
}

.employment-info {
  order: 1;
}
.employment-date {
  text-align: end;
  order: 2;
}
.job-title {
  font-style: italic;
  margin-top: 2%;
  order: 3;
  font-size: 20px;
  line-height: 0.7em;
  margin-top: 10px;
  margin-bottom: 10px;
}
.job-skills,.project-skills {
  font-style: italic;
  margin-top: 2%;
  order: 3;
  font-size: 16px;
  line-height: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
  max-width: 400px;
  text-align: center;
}

.project-skills
{
  flex: 1 100%;
  order : 0;
  max-width: 100%;

}

.employment-desc {
  width: 100%;
  flex: 100%;
  order: 5;
}

.employment-info,
.employment-date,
.project-header {
  width: 50%;
  flex-grow: 1;
  font-size: 24px;
  line-height: 0.7em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.project-header
{
  text-decoration: none;
}
.project-header:visited
{
  color: inherit;
}
.project-header:hover
{
  color: #366083;
}
.ul-bullet {
  display: list-item;
  margin-left: 1em;
}

@media screen and (max-width: 749px) {
  .intro-card {
    flex-direction: column-reverse;
  }
  .intro-card-image,.project-image {
    margin: 0%;
  }
  .main-card-subheader {
    line-height: 1.75;
  }
  .job-container,.project-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .employment-info,
  .employment-date,
  .job-skill,
  .project-header,
  .project-skills,
  .project-desc {
    width: 100%;
    text-align: center;
    line-height: 1.75;
  }
}

.fade-out {
  animation: fadeOut 1s forwards;
}

.fade-in {
  animation: fadeIn 1s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
